@model EventManager.Models.Usuario

@{
    ViewData["Title"] = "Perfil";
}



<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                @if (TempData["MensagemSucesso"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["MensagemSucesso"]
                    </div>
                }
                @if (TempData["MensagemError"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["MensagemError"]
                    </div>
                }
                <img src="https://via.placeholder.com/150" class="rounded-circle img-thumbnail" alt="Foto de perfil">
                <h2>@Model.Nome</h2>
                <p>@Model.Email</p>
                <a class="btn btn-primary m-3" asp-action="Edit" asp-route-id="@Model?.Id">Editar Perfil</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Excluir Conta</a>
                
            </div>
        </div>

        <div class="col-md-8">
            <h2>Meus Eventos - 
                <a class="btn btn-success" asp-controller="Eventos" asp-action="Create" asp-route-usuarioId="@Model.Id">Criar Novo Evento</a>
            </h2>
            @if (Model.Eventos?.Any() == true){

                <table class="table">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Data</th>
                                <th>Hora</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                    @foreach (var evento in Model.Eventos)
                    {


                        <tbody>
                            <tr >
                                <td>@evento.Titulo</td>
                                <td>@evento.Data</td>
                                <td>@evento.Hora</td>
                                <td>
                                    <a class="btn btn-secondary" asp-controller="Convidados" asp-action="Create" asp-route-eventoId="@evento.Id">Convidar</a>
                                    <a class="btn btn-primary" asp-controller="Eventos" asp-action="Edit" asp-route-id="@evento.Id">Editar</a>
                                    <a class="btn btn-danger" asp-controller="Eventos" asp-action="Delete" asp-route-id="@evento.Id">Excluir</a>
                                    <a class="btn btn-success" asp-controller="Eventos" asp-action="Details" asp-route-id="@evento.Id">Confirmados</a>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>

            }else{
                <p>Sem Evento cadastrado.</p>
            }
        </div>
    </div>
</div>

