@model IEnumerable<EventManager.Models.Evento>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Gerenciador de eventos</h1>
    
</div>


<h1>Eventos ativos</h1>

<p>
    <a asp-controller="Eventos" asp-action="Create" asp-route-usuarioId="5" class="btn btn-primary">Criar novo Evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeMaxPessoas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorIngresso)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeMaxPessoas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valorIngresso)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">

                        <a type="button" class="btn btn-primary" asp-controller="Convidados" asp-action="Create" asp-route-eventoId="@item.Id">Gegistrar no evento</a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
