@model IEnumerable<EventManager.Models.Evento>
@{
    ViewData["Title"] = "Eventos";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">Próximos Eventos</h1>

            @foreach (var item in Model)
            {
            <div class="card mb-3">
                <div class="card-body">
                        <h5 class="card-title">@item.Titulo</h5>
                        <p class="card-text">@item.Descricao</p>
                        <p class="card-text"><small class="text-muted">Local: @item.Local</small></p>
                        <p class="card-text"><small class="text-muted">Data: @item.Data</small></p>
                        <p class="card-text"><small class="text-muted">Hora: @item.Hora</small></p>
                        <p class="card-text"><small class="text-muted">Vagas: @item.QuantidadeMaxPessoas</small></p>
                        <p class="card-text"><small class="text-muted">Valor: R$ @item.valorIngresso</small></p>
                        <a class="btn btn-primary" asp-controller="Convidados" asp-action="Create" asp-route-eventoId="@item.Id">Inscrever-se</a>
                </div>
            </div>
            }
        </div>
        <div class="col-md-4">
            <h2 class="h4">Crie seu Evento</h2>
            <p>Organize seus próprios eventos e alcance mais pessoas.</p>        
            <a class="btn btn-primary" asp-controller="Eventos" asp-action="Create" asp-route-usuarioId="5">Criar Evento</a>
        </div>
    </div>
</div>