@model EventManager.Models.Convidado

@{
    ViewData["Title"] = "Participante info";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        @if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success">
                @TempData["MensagemSucesso"]
            </div>
        }
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Detalhes do Participante</h5>
                    <p class="card-text"><strong class="pe-3">Nome: </strong>@Model.Nome</p>
                    <p class="card-text"><strong class="pe-3">Sexo: </strong>@Model.Sex</p>
                    <p class="card-text"><strong class="pe-3">Email: </strong>@Model.Email</p>
                    <p class="card-text"><strong class="pe-3">Evento: </strong>@Model.Evento.Titulo</p>
                    <a class="btn btn-primary" asp-controller="Eventos" asp-action="Details" asp-route-id="@Model.Evento.Id">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>